
.profile .btn-a{
  box-sizing: border-box;
  border-radius: 2px;
  padding: 1px;

  .a{
  background-color: #2aabd2;
}
  .b{
    background-color: #24d26e;

  }
}

.ar-admin{
padding-top: 10px;
  .center {
    text-align: center;
  }
  .center-c {
    display: inline-block;
  }
  h3{
  font-size: 1.8rem;
    color: black;
    font-weight: 900;
  }
  p{
    color: #313131;
    font-weight: 700;
    font-size: 1.3rem;

  }


  .item-a {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    font-size: 1.8vh;
    font-weight:bolder;
    letter-spacing: 1px;
    text-align: center;
    background-color: #dedede;

  }
  .tab-admin{
    margin-top: 20px;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(15, 15%);
    grid-auto-rows: 50px;
    grid-auto-columns: 30px;

    textarea{
      background: transparent;
      border-color: transparent;
    }
    .items-s {
      grid-column: span 2;
    }
  }

  #admin{
    overflow: scroll;
  }
}