

.sec-cal {
  background: rgba(255, 89, 98, 0.38);

  h3 {
    color: #3c5f80;
  }
  label{
    color: #3c5f80;

  }
  .check-gr p{

  }



}
button .btn-dark-b{
  background:#2a7bff;
}
.sec-top{
padding-top:  10%;

select{
  width: 250px;
  height: 30px;
  border-radius: 5px;
  background: #dbdbdb;
}
input{
  width: 250px;
  height: 30px;
  border-radius: 5px;
  background: #dbdbdb;
  padding-bottom: 10px;
}
@media(max-width: 767px){



    padding-top: 55%;


}

@media(max-width: 1127px){


    padding-top: 100px;
  }
}
