
/* --------------- 1 First page --------------- */
.strt-page{
  min-height:  calc(100vh + 60px);
  margin-top: 50px;
  background-image: url(../img/sec1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
/* --------------- 1p. Quote --------------- */
.quo{
    margin-top: 20%;
}
.quo-1 p{
  color: white;
  font-size: 4.3vh;
  text-align:left;
  margin-bottom: -5px;
  font-family: 'Secular One', sans-serif;
}
.auth-1 p{
  font-family: 'Maitree', serif;
  font-size: 2vh;
  text-align:left;
  color: white;
  margin-bottom: 25px;
}
/* --------------- 1. Buttons --------------- */
.trener .btn{
 margin-right: 5px;
 margin-bottom: 5px;
}
/* --------------- 1. Trener --------------- */
.trener p{
  font-family: 'Maitree', serif;
  font-weight: bolder;
  font-size: 4vh;
  text-align:left;
  color: white;
}
/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          576 px */
@media(max-width: 576px){

/* --------------- 1psl. Mygtukai --------------- */
  .trener .btn{
   margin: 6% 0 0 6%;
   width: 40%;
   margin-bottom: 5px;
    font-size: 2vw;

  }
/* --------------- 1psl. Treneris --------------- */
  .trener p{
   text-align:center;
    font-size: 2vh;
  }
}

/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          767 px */
@media(max-width: 767px) {


}

@media(max-width: 1127px){

}
/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          1267 px */
@media(max-width: 1267px){


}

