
/* --------------- Footer Col --------------- */
h3{
  text-align: center;
  color: #e9e9e9;
  font-size: 4vh;
  font-family: 'Fira Sans', sans-serif;
  margin-top: 55px;
}

.contacts{
  background-color: #2a2a2a;
  position: relative;

}
.sec4, p{
  color: #e9e9e9;
  font-size: 2.3vh;
  font-family: 'Fira Sans', sans-serif;

}
.colxx{
  margin-left: -2px;
  margin-left: -2px;
}
.sec4 .cols{
  color: #e9e9e9;
  border-style: solid;
  border-color: #b9b9b9;
  opacity: 0.8;
  border-radius: 2%;
  margin-bottom: 2%;

}
.sec-footer{
  padding-bottom: 20%;

}
.sec4 {
  margin-top: 12%;
}
.fonts .fa{
  font-size: 50px;
}
.fa-facebook-square{
  color: #3b5998;
  }
.fa-twitter-square{
  color: #1dcaff;
}
.fa-instagram{
  color: white;
}
.fa-map-marker{
  font-size: 35px;
  color: #db3236;
}
.fa-phone{
  font-size: 35px;
  color: #3cba54;
}
.fa-envelope-o{
  font-size: 35px;
  color: white;
}

iframe{
  width: 100%;
  height:20%;
  position: absolute;
  bottom: 0;
  border-style: none;
  overflow: hidden;

}

/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          576 px */
@media(max-width: 576px){

    /* --------------- Footer --------------- */
  .fonts p{
    display: inline-block;
    margin-right: 7px;
    margin-left: 7px;
  }
  .sec4 {
    margin-top: 2%;
  }
  iframe{
    height: 10vh;
  }
}

/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          767 px */
@media(max-width: 767px){

  iframe{
    height: 15vh;
  }
  /* --------------- Footer --------------- */

  h3{
    font-size: 3vh;
    font-weight: 400;
    margin-top: 35px;
  }
  .sec4, p{
    font-size: 2vh;
  }
  .sec4 .col-lg-4{

    margin-bottom: 2%;
  }
  .sec4 {
    margin-top: 8%;
  }
  .fonts .fa{
    font-size: 50px;
    display: inline-block;
  }
  .fonts p{
    display: inline-block;
    margin-right: 7px;
    margin-left: 7px;
  }


}


/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          1267 px */
@media(max-width: 1267px) {
  /* --------------- Footer --------------- */

  h3 {
    font-size: 3vh;
    font-weight: 300;
    margin-top: 30px;
  }
  .sec4 h2 {
    font-size: 3vh;

  }
  .sec4, p {
    font-size: 2vh;
  }
  .sec4 .col-lg-4 {

    margin-bottom: 2%;
  }
  .sec4 {
    margin-top: 5%;
  }
  .fa {
    font-size: 20px;
  }
  .fonts .fa {
    font-size: 35px;
    display: inline-block;
  }
  .fonts p {
    display: inline-block;
    margin-right: 7px;
    margin-left: 7px;
  }

}