
/* --------------- 4.p Articles --------------- */
.sec5{
  margin-top: 5%;
  overflow: hidden;
}

.articles  h3{
  text-align: center;
  color: #e9e9e9;
  font-size: 4vh;
  font-family: 'Fira Sans', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.sec5 .col h2{
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;

  font-family: 'Maitree', serif;
  font-size: 3.5vh;
  font-weight: 800;

}

.sec5 .col p{
  color: #2a2a2a;
  font-family: 'Maitree', serif;
  font-size: 2.4vh;
  font-weight: 600;

}
.sec5 .col{
  color: #e9e9e9;
  border-style: solid;
  border-color: rgba(204, 204, 204, 0.3);
  border-radius: 2%;
  margin: 3px;
  background: rgba(204, 204, 204, 0.4);

}

.bt-info {
  background-color: #eedbdb;
  border-style: solid;
  border-color: #fe4a40;
}
.articles{
  background-image: url(../img/sec5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2a2a2a;

}

/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          576 px */
@media(max-width: 576px){
  /* --------------- Articles --------------- */

  .sec5 {
    margin-top: 2%;
  }

  /* --------------- 3p. workouts text --------------- */
  .sec5 .col-lg-5 p{
    font-size: 3vw;

  }
  .sec5 .col-lg-5 h2{
    font-size: 2vh;

  }

  /* --------------- 3p. workouts text --------------- */
  .articles{
    overflow: hidden
  }
  .sec .col-lg-5 h2{
    font-size: 3vh;
    font-weight: 400;
  }
}

/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          767 px */
@media(max-width: 767px){

  /* --------------- 3p. workouts text --------------- */
  .sec5 .col-lg-5 h2, p{
    font-size: 1.9vh;
  }
  /* --------------- 3p. workouts  --------------- */
  .sec5{
    margin-top: 2%;
  }
  .sec5 .col-lg-5 h2{
    font-size: 3vh;
    font-weight: 400;
  }
}


