
.articles-full{
  margin-top: 7%;
  border-radius: 3px;
  p{
    text-indent: 10px;
  }
  a{
    font-size: 2vh;
  }
  @media(max-width: 767px){



    padding-top: 25%;

    a{
     font-size: 1.6vh;
    }

  }

}