
/* --------------- Size of pages --------------- */
.strt-page, .about, .workouts, .contacts, .articles{
  box-sizing: border-box;
  border-style: solid;
  border-color: #fe4a40;
  min-height:  calc(100vh + 60px);
  padding: 0;
  background-color: #2a2a2a;

}