#myNavbar{
  .navbar-brand a{
    color: white;
  }

  background: black;
  .navbar-right li{
   display: inline-block;
    padding-top: 4px;
    .nav-link {
      box-sizing: border-box;
      border-radius: 3px;
      color: white;

      padding: 6px;

    }
    .log{
      background: #008700;
    }
    .reg{
      background: #ff2c27;
    }

 }



}
nav{
  padding-bottom: 1px;
}
