 select {

  border-radius: 5px;
  background: #dde1d7;
}

/* --------------- Profile --------------- */
.adata{
    margin-top: 2%;
    border-radius: 3px;
    background-color:#eedbdb;
}
.adata {
  p{
    color: black;
    margin-top: 8px;
    font-size: 1.8vh;
    letter-spacing: 1px;
  }
  a{
    color: black;
    margin-top: 8px;
    font-size: 1.8vh;
    letter-spacing: 1px;
    font-weight: 800;
  }

}





  .h{
    visibility: hidden;


  }
  .item {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    font-size: 1.8vh;
    font-weight:bolder;
    letter-spacing: 1px;
    text-align: center;
    background-color: #dde1d7;

  }
  .profile .show{

    background-color: #f5e8e5 ;

  }

  .tab INPUT{
    height: 100%;
    width: 80%;
    padding: -1px;
    margin: -1px;
    overflow: visible;
    border:none;
    background: transparent;
    outline: 0;
  }

  .one {
    display: inline-block;
    background-color: red;
    height: auto;
    width: 35%;

  }

  .two {
    display: inline-block;
    background-color: blue;
    height: 50vh;
    width: 50%;
    overflow: scroll;


  }
  .profile .one2{
    margin-top: 20px;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(16, 25%);
    grid-auto-rows: 20px;
    grid-auto-columns: 40px;
    overflow: visible;

  }

  .profile .two2{
    margin-top: 20px;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(16, 25%);
    grid-auto-rows: 20px;
    grid-auto-columns: 40px;


  }
  .profile .tab{
    margin-top: 20px;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: repeat(16, 25%);
    grid-auto-rows: 50px;
    grid-auto-columns: 40px;

  }
  .profile .tab2{
    margin-top: 20px;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: repeat(16, 25%);
    grid-auto-rows: 50px;
    grid-auto-columns: 40px;

  }
  .profile .btn {
    background-color:#eedbdb;
    border-style: solid;
    border-color: #fe4a40;
  }
  .profile-p{
    margin-top: 30px;
    background-color:  #6f6965;

  }
  .profile-tbl{

    background-color:  #6f6965;

  }

  .item1r, .item00, .item01, .item02 {
    grid-column: span 2;
  }
  .itemx3{
    grid-column: span 3;
  }
  .itemy{
    grid-row: span 4;
  }
  .r{
    background-color: #bbb5b2;
  }
  .profile-p{
    box-sizing: border-box;
    border-style: solid;
    border-color: #fe4a40;
    height: 40vh;
    padding: 0;
    border-bottom: none;
    min-height: 250px;

  }


  .profile-tbl{
    box-sizing: border-box;
    border-style: solid;
    border-color: #fe4a40;
    height: 100vh;
    padding: 0;
    border-top: none;
    min-height: 450px;
    overflow: scroll;

  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }


  @media(max-width: 1220px) {
    /* --------------- Profilis --------------- */
    .adata {
      margin-top: 4%;
      border-radius: 3px;
      background-color: #eedbdb;
    }
  }
  /* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          576 px */
  @media(max-width: 576px){


    .adata{
      margin-top: 10%;
      border-radius: 3px;
      background-color:#eedbdb;
    }
  }

  /* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          767 px */
  @media(max-width: 767px){


    .adata{
      margin-top: 10%;
      border-radius: 3px;
      background-color:#eedbdb;
    }
    .profile .tab{
      margin-top: 20px;
      display: grid;
      grid-gap: 4px;
      grid-template-columns: repeat(5,auto);
      grid-template-rows: repeat(16, 25%);
      grid-auto-rows: 25px;
      grid-auto-columns: 30px;

    }
    .adata a{
      color: black;
      margin-top: 10px;
      font-size: 1.6vh;
      letter-spacing: 1px;
      font-weight: 800;
    }
    .item {
      display: grid;
      justify-content: center;
      align-items: center;
      border: 5px solid rgba(0, 0, 0, 0.03);
      border-radius: 3px;
      font-size: 1.6vh;
      font-weight:bolder;
      letter-spacing: 1px;
      text-align: center;
      background-color: #dde1d7;
    }
    .tab2 a{
      font-size: 1em;
    }

  }

  @media(max-width: 1127px){


    /* --------------- Profilis --------------- */
    .adata{
      margin-top: 10%;
      border-radius: 3px;
      background-color:#eedbdb;
    }
    .tab2 a{
      font-size: 1.3em;
    }
  }
  /* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          1267 px */
  @media(max-width: 1267px) {

    .profile .tab {
      margin-top: 20px;
      display: grid;
      grid-gap: 4px;
      grid-template-columns: repeat(5, auto);
      grid-template-rows: repeat(16, 25%);
      grid-auto-rows: 30px;
      grid-auto-columns: 30px;

    }
    .adata a {
      color: black;
      margin-top: 10px;
      font-size: 1.6vh;
      letter-spacing: 1px;
      font-weight: 800;
    }
    .item {
      display: grid;
      justify-content: center;
      align-items: center;
      border: 5px solid rgba(0, 0, 0, 0.03);
      border-radius: 3px;
      font-size: 1.6vh;
      font-weight: bolder;
      letter-spacing: 1px;
      text-align: center;
      background-color: #dde1d7;
    }
  }
