.reg-s{
  background: #ff6d72;
  min-height: 100vh;

}

.card-header h3{

  padding-top:  10%;

  padding-bottom: 10px;

  color: rgb(240, 238, 198);

  @media(max-width: 767px){


    h3 {
      font-size: 3vw;
      padding-top: 55%;

    }
  }

  @media(max-width: 1127px){

    h3 {
      padding-top: 100px;
    }}

}

