
/* --------------- 2p. Pic --------------- */
.tren img{
  width: 100%;
  height:  calc(100vh + 60px);
  margin: 0 0 0 -5%;
}
.sec2 {
  background-color: #2a2a2a;
  box-sizing: border-box;
  width: 100%;
  min-height: calc(100vh + 60px);
}
/* --------------- 2p. About --------------- */
.about-text p:first-of-type{
  color: grey;
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 2vh;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 1px;

}
.about-text p:nth-child(2){
  font-size: 4vh;
  font-family: 'Fira Sans', sans-serif;
}
.about-text p:nth-child(n+3){
  font-size: 2.4vh;
  text-align: justify;
  margin-right: 25px;
  font-family: 'Fira Sans', sans-serif;
}
.about-text p:nth-child(n+2){
  color: #e9e9e9;

}

/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          576 px */
@media(max-width: 576px){

/* --------------- 2p. Pic --------------- */
  .tren img{
    width: 90%;
    margin: 5% 0 0 5%;
    height: 45%;
  }
/* --------------- 2p. Text --------------- */
  .about-text p:first-of-type{
    margin-top: 20px;
  }
  .about-text p:nth-child(n+3){
    font-size: 3vh;

  }

}

/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          767 px */
@media(max-width: 767px){

/* --------------- 2p. Pic --------------- */
  .tren img{
    width: 85%;
    margin: 5% 0 0 5%;
    height: 40vh;
  }
/* --------------- 2p. Text --------------- */
  .about-text p:first-of-type{
    margin-top: 20px;
  }
  .about-text p:nth-child(n+3){
    font-size:2vh;
  }

}

@media(max-width: 1127px){
  .about-text p:nth-child(n+3){
    font-size:2vh;

  }

}
