/* --------------- Third page--------------- */
.workouts{
  background-image: url(../img/sec3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2a2a2a;

}
/* --------------- 3p. workouts --------------- */
.sec3{
  margin-top: 12%;

}
/* --------------- 3p. workouts col place --------------- */
.sec3 .col-lg-5{
  background-color: #b9b9b9;
  opacity: 0.8;
  border-radius: 2%;
  margin: 5px;
}
.col-centered {
    display:inline-block;
    float:none;
    margin-right:-4px;
    text-align: center;
}
.row-centered{
  text-align: center;
}
/* --------------- 3p. workouts text --------------- */
.sec3 .col-lg-5 p{
  color: black;
  font-family: 'Maitree', serif;
  font-size: 2.4vh;
}
.sec3 .col-lg-5 h2{
  color: black;
  font-family: 'Maitree', serif;
  font-size: 4vh;
  font-weight: 600;
}
/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          576 px */
@media(max-width: 576px){

  /* --------------- 3p. workouts text --------------- */
  .sec3 .col-lg-5 p{
    font-size: 3vw;

  }
  .sec3 .col-lg-5 h2{
    font-size: 2vh;

  }

  /* --------------- 3p. workouts text --------------- */
  .workouts{
    overflow: hidden
  }
  .sec3 .col-lg-5 h2{
    font-size: 3vh;
    font-weight: 400;
  }
}

/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          767 px */
@media(max-width: 767px){

  /* --------------- 3p. workouts text --------------- */
  .sec3 .col-lg-5 h2, p{
    font-size: 1.9vh;
  }
  /* --------------- 3p. workouts  --------------- */
  .sec3{
    margin-top: 2%;
  }
  .sec3 .col-lg-5 h2{
    font-size: 3vh;
    font-weight: 400;
  }
}
