// Variables

$white: #fff !default;
$tomato: #f33a10 !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #f17c61!default;
$secondary: #786081 !default;
//$third: #fbcfc0 !default;
$third: #f58f7e!default;
$fourth: #5d4a64!default;
$nav-hover: #af8bac !default;
$nav-focus: #ffb09e !default;
$nav-link: #f17c61 !default;

