/* --------------- 1 First page --------------- */
.strt-page {
  min-height: calc(100vh + 60px);
  margin-top: 50px;
  background-image: url(../img/sec1.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

/* --------------- 1p. Quote --------------- */
.quo {
  margin-top: 20%; }

.quo-1 p {
  color: white;
  font-size: 4.3vh;
  text-align: left;
  margin-bottom: -5px;
  font-family: 'Secular One', sans-serif; }

.auth-1 p {
  font-family: 'Maitree', serif;
  font-size: 2vh;
  text-align: left;
  color: white;
  margin-bottom: 25px; }

/* --------------- 1. Buttons --------------- */
.trener .btn {
  margin-right: 5px;
  margin-bottom: 5px; }

/* --------------- 1. Trener --------------- */
.trener p {
  font-family: 'Maitree', serif;
  font-weight: bolder;
  font-size: 4vh;
  text-align: left;
  color: white; }

/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          576 px */
@media (max-width: 576px) {
  /* --------------- 1psl. Mygtukai --------------- */
  .trener .btn {
    margin: 6% 0 0 6%;
    width: 40%;
    margin-bottom: 5px;
    font-size: 2vw; }

  /* --------------- 1psl. Treneris --------------- */
  .trener p {
    text-align: center;
    font-size: 2vh; } }
/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          767 px */
/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          1267 px */
/* --------------- Size of pages --------------- */
.strt-page, .about, .workouts, .contacts, .articles {
  box-sizing: border-box;
  border-style: solid;
  border-color: #fe4a40;
  min-height: calc(100vh + 60px);
  padding: 0;
  background-color: #2a2a2a; }

/* --------------- 2p. Pic --------------- */
.tren img {
  width: 100%;
  height: calc(100vh + 60px);
  margin: 0 0 0 -5%; }

.sec2 {
  background-color: #2a2a2a;
  box-sizing: border-box;
  width: 100%;
  min-height: calc(100vh + 60px); }

/* --------------- 2p. About --------------- */
.about-text p:first-of-type {
  color: grey;
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 2vh;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 1px; }

.about-text p:nth-child(2) {
  font-size: 4vh;
  font-family: 'Fira Sans', sans-serif; }

.about-text p:nth-child(n+3) {
  font-size: 2.4vh;
  text-align: justify;
  margin-right: 25px;
  font-family: 'Fira Sans', sans-serif; }

.about-text p:nth-child(n+2) {
  color: #e9e9e9; }

/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          576 px */
@media (max-width: 576px) {
  /* --------------- 2p. Pic --------------- */
  .tren img {
    width: 90%;
    margin: 5% 0 0 5%;
    height: 45%; }

  /* --------------- 2p. Text --------------- */
  .about-text p:first-of-type {
    margin-top: 20px; }

  .about-text p:nth-child(n+3) {
    font-size: 3vh; } }
/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          767 px */
@media (max-width: 767px) {
  /* --------------- 2p. Pic --------------- */
  .tren img {
    width: 85%;
    margin: 5% 0 0 5%;
    height: 40vh; }

  /* --------------- 2p. Text --------------- */
  .about-text p:first-of-type {
    margin-top: 20px; }

  .about-text p:nth-child(n+3) {
    font-size: 2vh; } }
@media (max-width: 1127px) {
  .about-text p:nth-child(n+3) {
    font-size: 2vh; } }
/* --------------- Third page--------------- */
.workouts {
  background-image: url(../img/sec3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2a2a2a; }

/* --------------- 3p. workouts --------------- */
.sec3 {
  margin-top: 12%; }

/* --------------- 3p. workouts col place --------------- */
.sec3 .col-lg-5 {
  background-color: #b9b9b9;
  opacity: 0.8;
  border-radius: 2%;
  margin: 5px; }

.col-centered {
  display: inline-block;
  float: none;
  margin-right: -4px;
  text-align: center; }

.row-centered {
  text-align: center; }

/* --------------- 3p. workouts text --------------- */
.sec3 .col-lg-5 p {
  color: black;
  font-family: 'Maitree', serif;
  font-size: 2.4vh; }

.sec3 .col-lg-5 h2 {
  color: black;
  font-family: 'Maitree', serif;
  font-size: 4vh;
  font-weight: 600; }

/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          576 px */
@media (max-width: 576px) {
  /* --------------- 3p. workouts text --------------- */
  .sec3 .col-lg-5 p {
    font-size: 3vw; }

  .sec3 .col-lg-5 h2 {
    font-size: 2vh; }

  /* --------------- 3p. workouts text --------------- */
  .workouts {
    overflow: hidden; }

  .sec3 .col-lg-5 h2 {
    font-size: 3vh;
    font-weight: 400; } }
/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          767 px */
@media (max-width: 767px) {
  /* --------------- 3p. workouts text --------------- */
  .sec3 .col-lg-5 h2, p {
    font-size: 1.9vh; }

  /* --------------- 3p. workouts  --------------- */
  .sec3 {
    margin-top: 2%; }

  .sec3 .col-lg-5 h2 {
    font-size: 3vh;
    font-weight: 400; } }
/* --------------- 4.p Articles --------------- */
.sec5 {
  margin-top: 5%;
  overflow: hidden; }

.articles h3 {
  text-align: center;
  color: #e9e9e9;
  font-size: 4vh;
  font-family: 'Fira Sans', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.sec5 .col h2 {
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
  font-family: 'Maitree', serif;
  font-size: 3.5vh;
  font-weight: 800; }

.sec5 .col p {
  color: #2a2a2a;
  font-family: 'Maitree', serif;
  font-size: 2.4vh;
  font-weight: 600; }

.sec5 .col {
  color: #e9e9e9;
  border-style: solid;
  border-color: rgba(204, 204, 204, 0.3);
  border-radius: 2%;
  margin: 3px;
  background: rgba(204, 204, 204, 0.4); }

.bt-info {
  background-color: #eedbdb;
  border-style: solid;
  border-color: #fe4a40; }

.articles {
  background-image: url(../img/sec5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2a2a2a; }

/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          576 px */
@media (max-width: 576px) {
  /* --------------- Articles --------------- */
  .sec5 {
    margin-top: 2%; }

  /* --------------- 3p. workouts text --------------- */
  .sec5 .col-lg-5 p {
    font-size: 3vw; }

  .sec5 .col-lg-5 h2 {
    font-size: 2vh; }

  /* --------------- 3p. workouts text --------------- */
  .articles {
    overflow: hidden; }

  .sec .col-lg-5 h2 {
    font-size: 3vh;
    font-weight: 400; } }
/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          767 px */
@media (max-width: 767px) {
  /* --------------- 3p. workouts text --------------- */
  .sec5 .col-lg-5 h2, p {
    font-size: 1.9vh; }

  /* --------------- 3p. workouts  --------------- */
  .sec5 {
    margin-top: 2%; }

  .sec5 .col-lg-5 h2 {
    font-size: 3vh;
    font-weight: 400; } }
/* --------------- Footer Col --------------- */
h3 {
  text-align: center;
  color: #e9e9e9;
  font-size: 4vh;
  font-family: 'Fira Sans', sans-serif;
  margin-top: 55px; }

.contacts {
  background-color: #2a2a2a;
  position: relative; }

.sec4, p {
  color: #e9e9e9;
  font-size: 2.3vh;
  font-family: 'Fira Sans', sans-serif; }

.colxx {
  margin-left: -2px;
  margin-left: -2px; }

.sec4 .cols {
  color: #e9e9e9;
  border-style: solid;
  border-color: #b9b9b9;
  opacity: 0.8;
  border-radius: 2%;
  margin-bottom: 2%; }

.sec-footer {
  padding-bottom: 20%; }

.sec4 {
  margin-top: 12%; }

.fonts .fa {
  font-size: 50px; }

.fa-facebook-square {
  color: #3b5998; }

.fa-twitter-square {
  color: #1dcaff; }

.fa-instagram {
  color: white; }

.fa-map-marker {
  font-size: 35px;
  color: #db3236; }

.fa-phone {
  font-size: 35px;
  color: #3cba54; }

.fa-envelope-o {
  font-size: 35px;
  color: white; }

iframe {
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  border-style: none;
  overflow: hidden; }

/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          576 px */
@media (max-width: 576px) {
  /* --------------- Footer --------------- */
  .fonts p {
    display: inline-block;
    margin-right: 7px;
    margin-left: 7px; }

  .sec4 {
    margin-top: 2%; }

  iframe {
    height: 10vh; } }
/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          767 px */
@media (max-width: 767px) {
  iframe {
    height: 15vh; }

  /* --------------- Footer --------------- */
  h3 {
    font-size: 3vh;
    font-weight: 400;
    margin-top: 35px; }

  .sec4, p {
    font-size: 2vh; }

  .sec4 .col-lg-4 {
    margin-bottom: 2%; }

  .sec4 {
    margin-top: 8%; }

  .fonts .fa {
    font-size: 50px;
    display: inline-block; }

  .fonts p {
    display: inline-block;
    margin-right: 7px;
    margin-left: 7px; } }
/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          1267 px */
@media (max-width: 1267px) {
  /* --------------- Footer --------------- */
  h3 {
    font-size: 3vh;
    font-weight: 300;
    margin-top: 30px; }

  .sec4 h2 {
    font-size: 3vh; }

  .sec4, p {
    font-size: 2vh; }

  .sec4 .col-lg-4 {
    margin-bottom: 2%; }

  .sec4 {
    margin-top: 5%; }

  .fa {
    font-size: 20px; }

  .fonts .fa {
    font-size: 35px;
    display: inline-block; }

  .fonts p {
    display: inline-block;
    margin-right: 7px;
    margin-left: 7px; } }
#myNavbar {
  background: black; }
  #myNavbar .navbar-brand a {
    color: white; }
  #myNavbar .navbar-right li {
    display: inline-block;
    padding-top: 4px; }
    #myNavbar .navbar-right li .nav-link {
      box-sizing: border-box;
      border-radius: 3px;
      color: white;
      padding: 6px; }
    #myNavbar .navbar-right li .log {
      background: #008700; }
    #myNavbar .navbar-right li .reg {
      background: #ff2c27; }

nav {
  padding-bottom: 1px; }

select {
  border-radius: 5px;
  background: #dde1d7; }

/* --------------- Profile --------------- */
.adata {
  margin-top: 2%;
  border-radius: 3px;
  background-color: #eedbdb; }

.adata p {
  color: black;
  margin-top: 8px;
  font-size: 1.8vh;
  letter-spacing: 1px; }
.adata a {
  color: black;
  margin-top: 8px;
  font-size: 1.8vh;
  letter-spacing: 1px;
  font-weight: 800; }

.h {
  visibility: hidden; }

.item {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-size: 1.8vh;
  font-weight: bolder;
  letter-spacing: 1px;
  text-align: center;
  background-color: #dde1d7; }

.profile .show {
  background-color: #f5e8e5; }

.tab INPUT {
  height: 100%;
  width: 80%;
  padding: -1px;
  margin: -1px;
  overflow: visible;
  border: none;
  background: transparent;
  outline: 0; }

.one {
  display: inline-block;
  background-color: red;
  height: auto;
  width: 35%; }

.two {
  display: inline-block;
  background-color: blue;
  height: 50vh;
  width: 50%;
  overflow: scroll; }

.profile .one2 {
  margin-top: 20px;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(16, 25%);
  grid-auto-rows: 20px;
  grid-auto-columns: 40px;
  overflow: visible; }

.profile .two2 {
  margin-top: 20px;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(16, 25%);
  grid-auto-rows: 20px;
  grid-auto-columns: 40px; }

.profile .tab {
  margin-top: 20px;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(16, 25%);
  grid-auto-rows: 50px;
  grid-auto-columns: 40px; }

.profile .tab2 {
  margin-top: 20px;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(16, 25%);
  grid-auto-rows: 50px;
  grid-auto-columns: 40px; }

.profile .btn {
  background-color: #eedbdb;
  border-style: solid;
  border-color: #fe4a40; }

.profile-p {
  margin-top: 30px;
  background-color: #6f6965; }

.profile-tbl {
  background-color: #6f6965; }

.item1r, .item00, .item01, .item02 {
  grid-column: span 2; }

.itemx3 {
  grid-column: span 3; }

.itemy {
  grid-row: span 4; }

.r {
  background-color: #bbb5b2; }

.profile-p {
  box-sizing: border-box;
  border-style: solid;
  border-color: #fe4a40;
  height: 40vh;
  padding: 0;
  border-bottom: none;
  min-height: 250px; }

.profile-tbl {
  box-sizing: border-box;
  border-style: solid;
  border-color: #fe4a40;
  height: 100vh;
  padding: 0;
  border-top: none;
  min-height: 450px;
  overflow: scroll; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

@media (max-width: 1220px) {
  /* --------------- Profilis --------------- */
  .adata {
    margin-top: 4%;
    border-radius: 3px;
    background-color: #eedbdb; } }
/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          576 px */
@media (max-width: 576px) {
  .adata {
    margin-top: 10%;
    border-radius: 3px;
    background-color: #eedbdb; } }
/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          767 px */
@media (max-width: 767px) {
  .adata {
    margin-top: 10%;
    border-radius: 3px;
    background-color: #eedbdb; }

  .profile .tab {
    margin-top: 20px;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(16, 25%);
    grid-auto-rows: 25px;
    grid-auto-columns: 30px; }

  .adata a {
    color: black;
    margin-top: 10px;
    font-size: 1.6vh;
    letter-spacing: 1px;
    font-weight: 800; }

  .item {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    font-size: 1.6vh;
    font-weight: bolder;
    letter-spacing: 1px;
    text-align: center;
    background-color: #dde1d7; }

  .tab2 a {
    font-size: 1em; } }
@media (max-width: 1127px) {
  /* --------------- Profilis --------------- */
  .adata {
    margin-top: 10%;
    border-radius: 3px;
    background-color: #eedbdb; }

  .tab2 a {
    font-size: 1.3em; } }
/* ----------------------------------->>>>>>>>>>>>>>>>>>>>>>>>          1267 px */
@media (max-width: 1267px) {
  .profile .tab {
    margin-top: 20px;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(16, 25%);
    grid-auto-rows: 30px;
    grid-auto-columns: 30px; }

  .adata a {
    color: black;
    margin-top: 10px;
    font-size: 1.6vh;
    letter-spacing: 1px;
    font-weight: 800; }

  .item {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    font-size: 1.6vh;
    font-weight: bolder;
    letter-spacing: 1px;
    text-align: center;
    background-color: #dde1d7; } }
.reg-s {
  background: #ff6d72;
  min-height: 100vh; }

.card-header h3 {
  padding-top: 10%;
  padding-bottom: 10px;
  color: #f0eec6; }
  @media (max-width: 767px) {
    .card-header h3 h3 {
      font-size: 3vw;
      padding-top: 55%; } }
  @media (max-width: 1127px) {
    .card-header h3 h3 {
      padding-top: 100px; } }

.sec-cal {
  background: rgba(255, 89, 98, 0.38); }
  .sec-cal h3 {
    color: #3c5f80; }
  .sec-cal label {
    color: #3c5f80; }

button .btn-dark-b {
  background: #2a7bff; }

.sec-top {
  padding-top: 10%; }
  .sec-top select {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    background: #dbdbdb; }
  .sec-top input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    background: #dbdbdb;
    padding-bottom: 10px; }
  @media (max-width: 767px) {
    .sec-top {
      padding-top: 55%; } }
  @media (max-width: 1127px) {
    .sec-top {
      padding-top: 100px; } }

.profile .btn-a {
  box-sizing: border-box;
  border-radius: 2px;
  padding: 1px; }
  .profile .btn-a .a {
    background-color: #2aabd2; }
  .profile .btn-a .b {
    background-color: #24d26e; }

.ar-admin {
  padding-top: 10px; }
  .ar-admin .center {
    text-align: center; }
  .ar-admin .center-c {
    display: inline-block; }
  .ar-admin h3 {
    font-size: 1.8rem;
    color: black;
    font-weight: 900; }
  .ar-admin p {
    color: #313131;
    font-weight: 700;
    font-size: 1.3rem; }
  .ar-admin .item-a {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    font-size: 1.8vh;
    font-weight: bolder;
    letter-spacing: 1px;
    text-align: center;
    background-color: #dedede; }
  .ar-admin .tab-admin {
    margin-top: 20px;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(15, 15%);
    grid-auto-rows: 50px;
    grid-auto-columns: 30px; }
    .ar-admin .tab-admin textarea {
      background: transparent;
      border-color: transparent; }
    .ar-admin .tab-admin .items-s {
      grid-column: span 2; }
  .ar-admin #admin {
    overflow: scroll; }

.articles-full {
  margin-top: 7%;
  border-radius: 3px; }
  .articles-full p {
    text-indent: 10px; }
  .articles-full a {
    font-size: 2vh; }
  @media (max-width: 767px) {
    .articles-full {
      padding-top: 25%; }
      .articles-full a {
        font-size: 1.6vh; } }

/*# sourceMappingURL=style.css.map */
